@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,400&family=Nunito:ital,wght@0,300;1,300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #6d5d4b;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}
@media only screen and (max-width: 63.5em) {
  .container {
    grid-template-rows: 6rem 80vh -webkit-min-content 40vw repeat(3, -webkit-min-content);
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    grid-template-columns: [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
  }
}
@media only screen and (max-width: 50em) {
  .container {
    grid-template-rows: 6rem calc(100vh - 6rem) repeat(6, -webkit-min-content);
    grid-template-rows: 6rem calc(100vh - 6rem) repeat(6, min-content);
  }
}

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
}
@supports (display: grid) {
  .features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 6rem;
    align-items: start;
  }
}

.feature {
  float: left;
  width: 33.3333%;
  margin-bottom: 6rem;
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
@supports (display: grid) {
  .feature {
    width: auto;
    margin-bottom: 0;
  }
}
.feature__icon {
  fill: #c69963;
  width: 4.5rem;
  height: 4.5rem;
  grid-row: 1/span 2;
  transform: translateY(-1rem);
}
.feature__text {
  font-size: 1.7rem;
}

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  align-items: center;
}
.nav__link:link, .nav__link:visited {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: 0.2s;
}
.nav__link:hover, .nav__link:active {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-3px);
}

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin: 5rem auto 0;
  text-align: center;
  width: 70%;
}

.gallery {
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1.5rem;
  padding: 1.5rem;
}
.gallery__item--1 {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
}
.gallery__item--2 {
  grid-row: 1/span 3;
  grid-column: 3/span 3;
}
.gallery__item--3 {
  grid-row: 1/span 2;
  grid-column: 6/7;
}
.gallery__item--4 {
  grid-row: 1/span 2;
  grid-column: 7/-1;
}
.gallery__item--5 {
  grid-row: 3/span 3;
  grid-column: 1/span 2;
}
.gallery__item--6 {
  grid-row: 4/span 2;
  grid-column: 3/span 2;
}
.gallery__item--7 {
  grid-row: 4/5;
  grid-column: 5/6;
}
.gallery__item--8 {
  grid-row: 3/span 2;
  grid-column: 6/span 2;
}
.gallery__item--9 {
  grid-row: 3/span 3;
  grid-column: -2/-1;
}
.gallery__item--10 {
  grid-row: 6/-1;
  grid-column: 1/2;
}
.gallery__item--11 {
  grid-row: 6/-1;
  grid-column: 2/span 2;
}
.gallery__item--12 {
  grid-row: 6/-1;
  grid-column: 4/5;
}
.gallery__item--13 {
  grid-row: 5/-1;
  grid-column: 5/span 3;
}
.gallery__item--14 {
  grid-row: 6/-1;
  grid-column: -2/-1;
}
.gallery__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  background-color: #54483a;
  grid-column: full-start/col-end 6;
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.9)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 1fr -webkit-min-content minmax(6rem, -webkit-min-content) 1fr;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(-webkit-min-content, -webkit-max-content);
  grid-template-columns: minmax(min-content, max-content);
  row-gap: 1.5rem;
  justify-content: center;
  padding: 8rem;
  padding-top: 4rem;
}
@media only screen and (max-width: 50em) {
  .header {
    grid-column: 1/-1;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    padding: 5rem;
  }
}
.header__logo {
  height: 3rem;
  justify-self: center;
}
.header__btn {
  align-self: start;
  justify-self: start;
}
.header__seenon-text {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content 1fr;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  font-size: 1.6rem;
  color: #aaa;
}
.header__seenon-text::before, .header__seenon-text::after {
  content: "";
  height: 1px;
  display: block;
  background-color: currentColor;
}
.header__seenon-logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  justify-items: center;
  align-items: center;
}
.header__seenon-logo img {
  max-height: 2.5rem;
  max-width: 100%;
  filter: brightness(70%);
}

.homes {
  grid-column: center-start/center-end;
  margin: 10rem 0;
  text-transform: capitalize;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;
}

.home {
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3.5rem;
}
.home__img {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
}
.home__like {
  grid-row: 1/2;
  grid-column: 2/3;
  fill: #c69963;
  height: 2.5rem;
  width: 2.5rem;
  position: relative;
  z-index: 2;
  justify-self: end;
  margin: 1rem;
}
.home__name {
  grid-column: 1/-1;
  grid-row: 1/2;
  position: relative;
  z-index: 2;
  align-self: end;
  justify-self: center;
  width: 80%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  padding: 1.25rem;
  background-color: #101d2c;
  color: #ffffff;
  transform: translateY(50%);
}
.home__location, .home__rooms {
  margin-top: 2rem;
}
.home__location, .home__rooms, .home__area, .home__price {
  font-size: 1.5rem;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}
.home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
  fill: #c69963;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}
.home__button {
  grid-column: 1/-1;
}

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7/full-end;
  padding: 3rem;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  row-gap: 2rem;
}
@media only screen and (max-width: 50em) {
  .realtors {
    grid-column: 1/-1;
  }
}
.realtors__list {
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-max-content;
  grid-template-columns: min-content max-content;
  gap: 5vh 2rem;
  align-items: center;
}
@media only screen and (max-width: 50em) {
  .realtors__list {
    grid-template-columns: repeat(3, -webkit-min-content -webkit-max-content);
    grid-template-columns: repeat(3, min-content max-content);
  }
}
@media only screen and (max-width: 37.5em) {
  .realtors__list {
    grid-template-columns: -webkit-min-content -webkit-max-content;
    grid-template-columns: min-content max-content;
  }
}
.realtors__img {
  width: 7rem;
  border-radius: 50%;
  display: block;
}
.realtors__sold {
  text-transform: uppercase;
  color: #aaa;
  margin-top: -3px;
}

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1/-1;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 63.5em) {
  .sidebar {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: #ffffff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;
}
.nav-btn::before, .nav-btn::after {
  background-color: #ffffff;
  height: 2px;
  width: 4.5rem;
  position: absolute;
  content: "";
  display: block;
}
.nav-btn::before {
  transform: translateY(-1.5rem);
}
.nav-btn::after {
  transform: translateY(1.3rem);
}
@media only screen and (max-width: 63.5em) {
  .nav-btn {
    margin-top: 0;
    margin-right: 3rem;
  }
  .nav-btn::before {
    transform: translateY(-1.2rem);
  }
  .nav-btn::after {
    transform: translateY(1rem);
  }
}

.story__img--2, .story__img--1 {
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}

.story__pictures {
  background-color: #c69963;
  grid-column: full-start/col-end 4;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(178, 132, 81, 0.4)), url(../img/back.jpg);
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}
@media only screen and (max-width: 50em) {
  .story__pictures {
    grid-column: 1/-1;
    padding: 6rem;
  }
}
.story__img--1 {
  width: 100%;
  grid-row: 2/6;
  grid-column: 2/span 4;
}
@media only screen and (max-width: 50em) {
  .story__img--1 {
    grid-column: 1/5;
    grid-row: 1/-1;
  }
}
.story__img--2 {
  width: 115%;
  grid-row: 4/6;
  grid-column: 4/7;
  z-index: 2;
}
@media only screen and (max-width: 50em) {
  .story__img--2 {
    width: 100%;
    grid-row: 1/-1;
  }
}
.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5/full-end;
  padding: 6rem 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (max-width: 50em) {
  .story__content {
    grid-column: 1/-1;
    grid-row: 5/6;
  }
}
.story__text {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem;
}

.heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.heading-2--light {
  color: #f9f7f6;
}
.heading-2--dark {
  color: #54483a;
}

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #54483a;
}

.btn {
  background-color: #c69963;
  color: #ffffff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  background-color: #b28451;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-vl {
  margin-bottom: 8rem;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3MvbWFpbi5zY3NzIiwiLi4vc2Fzcy9fYmFzZS5zY3NzIiwibWFpbi5jb21wLmNzcyIsIi4uL3Nhc3MvX3ZhcmlhYmxlLnNjc3MiLCIuLi9zYXNzL19mZWF0dXJlcy5zY3NzIiwiLi4vc2Fzcy9fZm9vdGVyLnNjc3MiLCIuLi9zYXNzL19nYWxsZXJ5LnNjc3MiLCIuLi9zYXNzL19oZWFkZXIuc2NzcyIsIi4uL3Nhc3MvX2hvbWUuc2NzcyIsIi4uL3Nhc3MvX3JlYWx0b3JzLnNjc3MiLCIuLi9zYXNzL19zaWRlYmFyLnNjc3MiLCIuLi9zYXNzL19zdG9yeS5zY3NzIiwiLi4vc2Fzcy9fdHlwb2dyYXBoeS5zY3NzIiwiLi4vc2Fzcy9fdXRpbGl0aWVzLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBWVEsaUpBQUE7QUNWUjs7O0VBR0UsU0FBQTtFQUNBLFVBQUE7RUFDQSxtQkFBQTtBQ0FGOztBREdBO0VBQ0Usc0JBQUE7RUFDQSxnQkFBQTtBQ0FGO0FERUU7RUFKRjtJQUtJLGNBQUE7RUNDRjtBQUNGOztBREVBO0VBQ0UsaUNFUGE7RUZRYixnQkFBQTtFQUNBLGNFWmtCO0VGYWxCLGdCQUFBO0FDQ0Y7O0FERUE7RUFDRSxhQUFBO0VBQ0EsZ0ZBQUE7RUFBQSxnRUFBQTtFQUNBLG1OQUNFO0VBREYsMk1BQ0U7QUNBSjtBRE1FO0VBVkY7SUFXSSxxRkFBQTtJQUFBLHFFQUFBO0lBQ0EsOExBQ0U7SUFERixzTEFDRTtFQ0pKO0FBQ0Y7QURVRTtFQXBCRjtJQXFCSSwwRUFBQTtJQUFBLGtFQUFBO0VDUEY7QUFDRjs7QUV2Q0E7RUFDRSxvQ0FBQTtFQUNBLGVBQUE7QUYwQ0Y7QUV4Q0U7RUFKRjtJQUtJLGFBQUE7SUFFQSwyREFBQTtJQUNBLFNBQUE7SUFDQSxrQkFBQTtFRjBDRjtBQUNGOztBRXZDQTtFQUVFLFdBQUE7RUFDQSxlQUFBO0VBQ0EsbUJBQUE7RUFPQSxhQUFBO0VBQ0EsOENBQUE7RUFBQSxzQ0FBQTtFQUNBLGVBQUE7RUFDQSx1QkFBQTtPQUFBLGtCQUFBO0FGbUNGO0FFM0NFO0VBTkY7SUFPSSxXQUFBO0lBQ0EsZ0JBQUE7RUY4Q0Y7QUFDRjtBRXZDRTtFQUNFLGFEL0JZO0VDZ0NaLGFBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSw0QkFBQTtBRnlDSjtBRXRDRTtFQUNFLGlCQUFBO0FGd0NKOztBRzlFQTtFQUNFLHlCRkNnQjtFRUFoQixnQ0FBQTtFQUNBLGFBQUE7QUhpRkY7O0FHOUVBO0VBQ0UsZ0JBQUE7RUFDQSxhQUFBO0VBQ0EsMkRBQUE7RUFDQSxTQUFBO0VBQ0EsbUJBQUE7QUhpRkY7QUcvRUU7RUFFRSx1Q0ZIVztFRUlYLGlCQUFBO0VBQ0EsY0FBQTtFQUNBLHFCQUFBO0VBQ0EseUJBQUE7RUFDQSxrQkFBQTtFQUNBLGVBQUE7RUFDQSxjQUFBO0VBRUEsZ0JBQUE7QUgrRUo7QUc1RUU7RUFFRSwwQ0FBQTtFQUNBLDJCQUFBO0FINkVKOztBR3pFQTtFQUNFLGlCQUFBO0VBQ0EsV0YvQm1CO0VFZ0NuQixtQkFBQTtFQUNBLGtCQUFBO0VBQ0EsVUFBQTtBSDRFRjs7QUluSEE7RUFDRSxnQ0FBQTtFQUVBLGFBQUE7RUFDQSxxQ0FBQTtFQUNBLGtDQUFBO0VBQ0EsV0FBQTtFQUNBLGVBQUE7QUpxSEY7QUlsSEk7RUFDRSxrQkFBQTtFQUNBLHFCQUFBO0FKb0hOO0FJbEhJO0VBQ0Usa0JBQUE7RUFDQSxxQkFBQTtBSm9ITjtBSWxISTtFQUNFLGtCQUFBO0VBQ0EsZ0JBQUE7QUpvSE47QUlsSEk7RUFDRSxrQkFBQTtFQUNBLGlCQUFBO0FKb0hOO0FJbEhJO0VBQ0Usa0JBQUE7RUFDQSxxQkFBQTtBSm9ITjtBSWxISTtFQUNFLGtCQUFBO0VBQ0EscUJBQUE7QUpvSE47QUlsSEk7RUFDRSxhQUFBO0VBQ0EsZ0JBQUE7QUpvSE47QUlsSEk7RUFDRSxrQkFBQTtFQUNBLHFCQUFBO0FKb0hOO0FJbEhJO0VBQ0Usa0JBQUE7RUFDQSxrQkFBQTtBSm9ITjtBSWxISTtFQUNFLGNBQUE7RUFDQSxnQkFBQTtBSm9ITjtBSWxISTtFQUNFLGNBQUE7RUFDQSxxQkFBQTtBSm9ITjtBSWxISTtFQUNFLGNBQUE7RUFDQSxnQkFBQTtBSm9ITjtBSWxISTtFQUNFLGNBQUE7RUFDQSxxQkFBQTtBSm9ITjtBSWxISTtFQUNFLGNBQUE7RUFDQSxrQkFBQTtBSm9ITjtBSWhIRTtFQUNFLGNBQUE7RUFDQSxXQUFBO0VBQ0EsWUFBQTtFQUNBLG9CQUFBO0tBQUEsaUJBQUE7QUprSEo7O0FLMUxBO0VBQ0UseUJKTWtCO0VJTGxCLGlDQUFBO0VBQ0EsdUdBQUE7RUFLQSxzQkFBQTtFQUNBLDJCQUFBO0VBRUEsYUFBQTtFQUNBLGlGQUFBO0VBQUEsaUVBQUE7RUFDQSx1RUFBQTtFQUFBLHVEQUFBO0VBQ0EsZUFBQTtFQUNBLHVCQUFBO0VBQ0EsYUFBQTtFQUNBLGlCQUFBO0FMd0xGO0FLdExFO0VBbkJGO0lBb0JJLGlCQUFBO0VMeUxGO0FBQ0Y7QUt2TEU7RUF2QkY7SUF3QkksYUFBQTtFTDBMRjtBQUNGO0FLeExFO0VBQ0UsWUFBQTtFQUNBLG9CQUFBO0FMMExKO0FLdkxFO0VBQ0UsaUJBQUE7RUFDQSxtQkFBQTtBTHlMSjtBS3RMRTtFQUNFLGFBQUE7RUFDQSxrREFBQTtFQUFBLDBDQUFBO0VBQ0EsbUJBQUE7RUFDQSx1QkFBQTtPQUFBLGtCQUFBO0VBRUEsaUJBQUE7RUFDQSxXSnZDaUI7QUQ4TnJCO0FLckxJO0VBRUUsV0FBQTtFQUNBLFdBQUE7RUFDQSxjQUFBO0VBQ0EsOEJBQUE7QUxzTE47QUtsTEU7RUFDRSxhQUFBO0VBQ0EscUNBQUE7RUFDQSxxQkFBQTtPQUFBLGdCQUFBO0VBQ0EscUJBQUE7RUFDQSxtQkFBQTtBTG9MSjtBS25MSTtFQUNFLGtCQUFBO0VBQ0EsZUFBQTtFQUNBLHVCQUFBO0FMcUxOOztBTXJQQTtFQUNFLG9DQUFBO0VBQ0EsZUFBQTtFQUNBLDBCQUFBO0VBRUEsYUFBQTtFQUNBLDJEQUFBO0VBQ0EsU0FBQTtBTnVQRjs7QU1wUEE7RUFDRSx5QkxQbUI7RUtRbkIsYUFBQTtFQUNBLHFDQUFBO0VBQ0EsZUFBQTtBTnVQRjtBTXJQRTtFQUNFLFdBQUE7RUFDQSxpQkFBQTtFQUNBLGFBQUE7QU51UEo7QU1wUEU7RUFDRSxhQUFBO0VBQ0EsZ0JBQUE7RUFDQSxhTDFCWTtFSzJCWixjQUFBO0VBQ0EsYUFBQTtFQUNBLGtCQUFBO0VBQ0EsVUFBQTtFQUNBLGlCQUFBO0VBQ0EsWUFBQTtBTnNQSjtBTW5QRTtFQUNFLGlCQUFBO0VBQ0EsYUFBQTtFQUNBLGtCQUFBO0VBQ0EsVUFBQTtFQUNBLGVBQUE7RUFDQSxvQkFBQTtFQUVBLFVBQUE7RUFDQSx1Q0wvQlc7RUtnQ1gsaUJBQUE7RUFDQSxnQkFBQTtFQUNBLGtCQUFBO0VBQ0EsZ0JBQUE7RUFDQSx5Qkw5Q2M7RUsrQ2QsY0FBQTtFQUNBLDBCQUFBO0FOb1BKO0FNalBFO0VBRUUsZ0JBQUE7QU5rUEo7QU0vT0U7RUFJRSxpQkFBQTtFQUNBLGlCQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBO0FOOE9KO0FNNU9JO0VBQ0UsYUxyRVU7RUtzRVYsWUFBQTtFQUNBLFdBQUE7RUFDQSxrQkFBQTtBTjhPTjtBTTFPRTtFQUNFLGlCQUFBO0FONE9KOztBT3hUQTtFQUNFLHlCTkNnQjtFTUFoQixpQ0FBQTtFQUNBLGFBQUE7RUFFQSxhQUFBO0VBQ0EscUJBQUE7RUFDQSx1QkFBQTtFQUNBLHFCQUFBO0VBQ0EsYUFBQTtBUDBURjtBT3hURTtFQVhGO0lBWUksaUJBQUE7RVAyVEY7QUFDRjtBT3pURTtFQUNFLGFBQUE7RUFDQSw4REFBQTtFQUFBLDhDQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBO0FQMlRKO0FPelRJO0VBTkY7SUFPSSx5RUFBQTtJQUFBLHlEQUFBO0VQNFRKO0FBQ0Y7QU8xVEk7RUFWRjtJQVdJLDhEQUFBO0lBQUEsOENBQUE7RVA2VEo7QUFDRjtBTzFURTtFQUNFLFdBQUE7RUFDQSxrQkFBQTtFQUNBLGNBQUE7QVA0VEo7QU96VEU7RUFDRSx5QkFBQTtFQUNBLFdOakNpQjtFTWtDakIsZ0JBQUE7QVAyVEo7O0FRbFdBO0VBQ0UseUJQRmM7RU9HZCxzQ0FBQTtFQUNBLGNBQUE7RUFDQSxhQUFBO0VBQ0EsdUJBQUE7QVJxV0Y7QVFuV0U7RUFQRjtJQVFJLGlCQUFBO0lBQ0EsYUFBQTtJQUNBLHlCQUFBO0lBQ0EsbUJBQUE7RVJzV0Y7QUFDRjs7QVFuV0E7RUFDRSxZQUFBO0VBQ0EsZ0JBQUE7RUFDQSx5QkFBQTtFQUNBLFdBQUE7RUFDQSxhQUFBO0VBQ0EsZ0JBQUE7QVJzV0Y7QVFwV0U7RUFFRSx5QkFBQTtFQUNBLFdBQUE7RUFDQSxhQUFBO0VBQ0Esa0JBQUE7RUFDQSxXQUFBO0VBQ0EsY0FBQTtBUnFXSjtBUWxXRTtFQUNFLDhCQUFBO0FSb1dKO0FRbFdFO0VBQ0UsNkJBQUE7QVJvV0o7QVFqV0U7RUF6QkY7SUEwQkksYUFBQTtJQUNBLGtCQUFBO0VSb1dGO0VRbFdFO0lBQ0UsOEJBQUE7RVJvV0o7RVFsV0U7SUFDRSwyQkFBQTtFUm9XSjtBQUNGOztBU3RaQTtFQUNFLDBDQUFBO0FUeVpGOztBU3JaRTtFQUNFLHlCUk5ZO0VRT1osaUNBQUE7RUFDQSx5R0FBQTtFQUtBLHNCQUFBO0VBRUEsYUFBQTtFQUNBLGtDQUFBO0VBQ0EscUNBQUE7RUFDQSxtQkFBQTtBVG1aSjtBU2paSTtFQWZGO0lBZ0JJLGlCQUFBO0lBQ0EsYUFBQTtFVG9aSjtBQUNGO0FTaFpJO0VBQ0UsV0FBQTtFQUNBLGFBQUE7RUFDQSxxQkFBQTtBVGtaTjtBUy9ZTTtFQU5GO0lBT0ksZ0JBQUE7SUFDQSxjQUFBO0VUa1pOO0FBQ0Y7QVNoWkk7RUFDRSxXQUFBO0VBQ0EsYUFBQTtFQUNBLGdCQUFBO0VBRUEsVUFBQTtBVGlaTjtBUzlZTTtFQVJGO0lBU0ksV0FBQTtJQUNBLGNBQUE7RVRpWk47QUFDRjtBUzdZRTtFQUNFLHlCUmpEaUI7RVFrRGpCLGlDQUFBO0VBRUEsaUJBQUE7RUFDQSxhQUFBO0VBQ0Esc0JBQUE7RUFDQSx1QkFBQTtFQUNBLHVCQUFBO0FUOFlKO0FTeFlJO0VBZEY7SUFlSSxpQkFBQTtJQUNBLGFBQUE7RVQyWUo7QUFDRjtBU3hZRTtFQUNFLGlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxtQkFBQTtBVDBZSjs7QVVyZEE7RUFDRSx1Q1RXYTtFU1ZiLGdCQUFBO0FWd2RGOztBVXJkQTtFQUVFLGlCQUFBO0VBQ0EsY1RKbUI7RVNLbkIsY0FBQTtBVnVkRjs7QVVwZEE7RUFFRSxlQUFBO0VBQ0Esa0JBQUE7RUFDQSxjQUFBO0FWc2RGO0FVcGRFO0VBQ0UsY1RmaUI7QURxZXJCO0FVcGRFO0VBQ0UsY1RmZ0I7QURxZXBCOztBVWxkQTtFQUVFLGlCQUFBO0VBQ0EsY1Q5QmM7RVMrQmQseUJBQUE7QVZvZEY7O0FVamRBO0VBRUUsaUJBQUE7QVZtZEY7QVVqZEU7RUFDRSxjVGxDaUI7QURxZnJCO0FVamRFO0VBQ0UsY1RsQ2dCO0FEcWZwQjs7QVUvY0E7RUFDRSx5QlQvQ2M7RVNnRGQsY0FBQTtFQUVBLFlBQUE7RUFDQSxnQkFBQTtFQUNBLHVDVHZDYTtFU3dDYixpQkFBQTtFQUNBLHlCQUFBO0VBQ0Esb0JBQUE7RUFDQSxlQUFBO0VBQ0EsZ0JBQUE7QVZpZEY7QVUvY0U7RUFDRSx5QlQzRGlCO0FENGdCckI7O0FXOWdCQTtFQUNFLG1CQUFBO0FYaWhCRjs7QVcvZ0JBO0VBQ0UsbUJBQUE7QVhraEJGOztBV2hoQkE7RUFDRSxtQkFBQTtBWG1oQkY7O0FXamhCQTtFQUNFLG1CQUFBO0FYb2hCRiIsImZpbGUiOiJtYWluLnByZWZpeC5jc3MifQ== */