@use "variable" as var;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //? 1rem => 10px
}

body {
  font-family: var.$font-primary;
  font-weight: 300;
  color: var.$color-grey-dark-2;
  line-height: 1.6;
}
