@use "variable" as var;

.footer {
  background-color: var.$color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  align-items: center;

  &__link:link,
  &__link:visited {
    font-family: var.$font-display;
    font-size: 1.4rem;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;

    transition: 0.2s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(#fff, 0.1);
    transform: translateY(-3px);
  }
}

.copyright {
  font-size: 1.4rem;
  color: var.$color-grey-light-2;
  margin: 5rem auto 0;
  text-align: center;
  width: 70%;
}
