@use "base";
@use "features";
@use "footer";
@use "gallery";
@use "header";
@use "home";
@use "realtors";
@use "sidebar";
@use "story";
@use "typography";
@use "utilities";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,400&family=Nunito:ital,wght@0,300;1,300&display=swap");
